
.container{
    background-color: #FFFFFF;
}
body{
    background-color: #E9E9E9;
}
.div1{
    border: 0.5px solid whitesmoke;
    float: left;
    margin-top: 7%;
    width: 58%;
    background-color:#FFFFFF;
}
.div3{
    border: 0.5px solid whitesmoke;
    float: left;
    margin-top: 2%;
    width: 58%;
    
    background-color:#FFFFFF;
}


.div2{
    border: 1px solid #FFFFFF;
    float: right;
     margin-top: 7%;
     width: 40%;
     background-color:#FFFFFF
}
#div1Inside{
    margin-top: 5%;
    
    background-color: 	#F2F3F5;
    border: 1px solid #F6F6F6;
      
}
#con{
    float: right;
}
#body{
 background-color:#E9E9E9;
}
#photo{
    padding-top: 3%;
}
.heading{
    padding: 3%;
}
#h1{
    
    padding-top: 3%;
    font-weight: bold;
}
#text{
    margin-left: 5px;
    height:auto;
    padding-left: 2%;
}
#midtext{
    max-width: 48%;
    
    margin-left: 8.5%;
    background-color: #E9E9E9;
    
}
#div1Inside2{
    background-color: #E9E9E9;
    
}
.subHead{
font-weight: bolder;
}
#cont{
    border: 0.5px solid whitesmoke;
    float: left;
    margin-top: 2%;
    width: 58%;
    background-color:#FFFFFF;
}
#secDiv{
    background-color:red;
}
#summary{
    padding-left: 3%;
    padding-top: 2%;
    
}
.border{
    border: 1px solid black;
    background-color: #E9E9E9;
    
}
#bottom-link{
    
     text-align: center;
     padding-bottom: 10%;

}
.s1{
   
    margin-right: 15px;
     background-color: #E9E9E9;
     padding: 8px;
}


#l1{
    text-decoration: none;
    color:gray;
}

#l2{
    text-decoration: none;
      color:gray;
}
#l3{
    text-decoration: none;
      color:gray;
}
#l4{
    text-decoration: none;
      color:gray;
}
#l5{
    text-decoration: none;
      color:gray;
}
#l1:hover{
   font-size: 20px;
   font-weight: bold;

}
#l2:hover{
   font-size: 20px;
   font-weight: bold;

}
#l3:hover{
   font-size: 20px;
   font-weight: bold;

}
#l4:hover{
   font-size: 20px;
   font-weight: bold;

}
#l5:hover{
   font-size: 20px;
   font-weight: bold;

}
#newDiv1{
    margin-left: 4%;

font-size: 16px;
font-weight: bold;
padding: 2px;
}
#newDiv2{
    margin-left: 4%;

font-size: 16px;
padding: 2px;
}
.newDiv2{
    margin-left: 4%;
    padding: 2px;
}
#bottom-link-Skills{
    overflow: scroll;
    line-height: 2.7em;
}